Windows/i386/cl19/bin
Windows/i386/cl19/config
Windows/i386/cl19/include
Windows/i386/cl19/lib
Windows/i386/cl19/share
Windows/i386/cl19/ssl
Windows/i386/cl1910/bin
Windows/i386/cl1910/config
Windows/i386/cl1910/include
Windows/i386/cl1910/lib
Windows/i386/cl1910/share
Windows/i386/cl1910/ssl
Windows/x86_64/cl18/bin
Windows/x86_64/cl18/config
Windows/x86_64/cl18/include
Windows/x86_64/cl18/lib
Windows/x86_64/cl18/ssl
Windows/x86_64/cl19/bin
Windows/x86_64/cl19/config
Windows/x86_64/cl19/include
Windows/x86_64/cl19/lib
Windows/x86_64/cl19/ssl
Windows/x86_64/cl1910/bin
Windows/x86_64/cl1910/config
Windows/x86_64/cl1910/include
Windows/x86_64/cl1910/lib
Windows/x86_64/cl1910/ssl
Linux/x86_64/gcc/bin
Linux/x86_64/gcc/config
Linux/x86_64/gcc/include
Linux/x86_64/gcc/lib
Linux/x86_64/gcc/share
Linux/x86_64/gcc/ssl
OSX/x86_64/clang/bin
OSX/x86_64/clang/config
OSX/x86_64/clang/include
OSX/x86_64/clang/lib
OSX/x86_64/clang/share
OSX/x86_64/clang/ssl
common/resources/cygwin_mount_table.txt
common/setenvironment
sources
Sources.xml
defaultenvironment
drops
*~
