OSX/x86_64/clang/bin
OSX/x86_64/clang/config
OSX/x86_64/clang/include
OSX/x86_64/clang/lib
OSX/x86_64/clang/share
OSX/x86_64/clang/ssl
common/resources/cygwin_mount_table.txt
common/setenvironment
sources
Sources.xml
defaultenvironment
drops
*~
